.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    &__title{
        font-size: 32px;
        margin-top: 20px;
    }
    &__form{
        width: 40%;
        padding: 20px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        &__item{
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            &__input{
                padding: 10px;
                background-color: #eee;
                margin-top: 5px;
            }
        }
        &__button{
            width: 100%;
            padding: 10px;
            background-color: #000;
            color: #fff;
            margin-top: 20px;
        }
    }
    &__link{
        a{
            color: blue;
            font-weight: 600;
        }
    }
}